body{
  background-color: #EAF6F6;
}
hr{
    background-color: #EAF6F6;
    height:0px;
    width:5%;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px
}
h1 {
  color: green;
}
h3 {
  color: green;
}
